
/*tablet*/
@media screen and (max-width: 786px){
	.header-top .container{
		max-width: 100%;
	}
	.header-top .icons{
		max-width: 50%;
	}
	.header-top .icons .item-icon{
		max-width: 50%;
	}
	.header-top .icons .item-icon a img{
		max-width: 50%;
		padding-left: 0;
	}
	.header-top .icons .hot-line{
		max-width: 50%;
	}
	.header-top .icons .hot-line p{
		font-size: 11pt;
		font-weight: bold;
	}
	.header-top .container .logo img{
		width: 100%;
	}
	/*menu*/
	.menu{
		max-height: 50px;
	}
	.menu .navbar{
		height: auto;
	}
	.menu ul{
		padding-left: 115px;
		list-style-type: none;
		padding-top: 10px;
	}
	.menu ul li{
		float: left;
	}
	.menu ul li a{
		padding-left: 10px;
		font-weight: bold;
		font-size: 9pt;
		text-transform: uppercase;
		color: #666666;
		text-decoration: none;
	}
	/*slider banner*/
	.slider{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.carousel-inner .item {
		height: 200px;
	}
	.note-slider{
		display: none;
	}
	.carousel-inner .item img{
		max-width: 100%;
		height: auto;
		position: relative;
		top: 10%;
	}
	.slider .note-slider{
		text-align: left;
		height: auto;
	}
	.slider .img-slider img{
		max-width: 100%;
		max-height: 100%;
		padding-top: 50px;
	}
	.slider a{
		position: absolute;
		top: 40%;
		margin-top: -16px;
		outline: 0;
		width: 45px;
		height: 70px;
		text-indent: -9999px;
		z-index: 2;
	}
	#mySlider .controls {
		display: none;
	}

	.note-slider .btn-detail{
		background-color: blue;
		font-size: 14pt;
		text-align: center;
		cursor: pointer;
	}
	.note-slider .detail{
		max-width: 1em;
		color: black;
		font-size: 14pt
	}
	#mySlider a img{
		height: auto;
		position: absolute;
		top: 0
	}
	/*group product slider*/
	.slider_products .controls a{
		position: absolute;
		top: 20%;
		width: 45px;
		height: 50%;
		outline: 0;
		text-indent: -9999px;
		z-index: 2;
	}
	.slider_products, #sliderProducts{
		max-width: 70%;
		margin: auto;
	}
	.slider_products .carousel-inner{
		max-height: 150px;
		padding-left: 40px;
	}
	.slider_products .carousel-inner .item{
		max-height: 145px;
	}
	.slider_products .carousel-inner .item .item_pro{
		float: left;
		padding: 0px 1px;
	}
	.slider_products .carousel-inner .item .item_pro a{
		text-decoration: none;
		font-size: 14pt;
		color: #949494;
		text-align: center;
	}
	.slider_products .carousel-inner .item .item_pro a span{
		text-align: center;
	}
	.slider_products .controls a.left{
		left: -80px;
		background: url(../img/pre.png) no-repeat top left;
	}
	.slider_products .controls a.right{
		right:  -80px;
		background: url(../img/next.png) no-repeat top left;
	}
	/*config item*/
	.config_gr .config {
		width: 30%;
		float: left;
		padding: 10px;
		padding-bottom: 70px;
		text-align: center;
	}
	/*footer*/
	.footer_top {
		width: 70%;
		padding: 0;
	}
	.footer_top .item_footer {
		width: 20%;
		float: left;
		margin-right: 25px;
	}
}

/*mobile*/

@media screen and (max-width: 480px){
	.header-top {
		width: 100%;
	}
	.header-top .icons{
		display: none;
	}
	.header-top .container .logo img{
		width: 230%;
	}

	#hot-line-copy{
		display: all;
	}

	/*menu*/
	.menu ul{
		padding-left: 10px;
	}
	.menu .navbar .container ul li a
	{
		display: none;
	}
	.menu .navbar button i{
		float: left;
		display: block;
	}

	/*slider*/
	.slider{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.slider .carousel-inner .item {
		height: auto;
	}
	.slider .carousel-inner .item img{
		max-width: 100%;
		height: auto;
		position: relative;
		top: 15%;
	}
	.slider .note-slider{
		display: none;
	}
	.slider .img-slider img{
		max-width: 100%;
		max-height: 100%;
		padding-top: auto;

	}

	#mySlider .controls {
		display: none;
	}

	.note-slider .btn-detail{
		background-color: blue;
		font-size: 7pt;
		text-align: center;
		cursor: pointer;
	}
	.note-slider .detail{
		max-width: 1em;
		color: black;
		font-size: 7pt
	}
	#mySlider a img{
		height: auto;
		position: absolute;
		top: 0
	}

	/*group products slider*/

	.slider_products, #sliderProducts{
		max-width: 100%;
	}
	.slider_products .carousel-inner{
		max-height: 70px;
		padding-left: 1px;
	}
	.slider_products .carousel-inner .item{
		max-height: 70px;
	}
	.slider_products .carousel-inner .item .item_pro{
		float: left;
		padding: 0 10px;
	}
	.slider_products .carousel-inner .item .item_pro a{
		text-decoration: none;
		font-size: 7pt;
		color: #949494;
		text-align: center;
	}
	.slider_products .carousel-inner .item .item_pro a img{
		max-width: 100%;
		height: auto;
		position: absolute;
		top: 15%;
	}
	.slider_products .carousel-inner .item .item_pro a span{
		text-align: center;
	}
	.slider_products .controls{
		display: none;
	}
	/*tin tức*/
	.news{
		max-width: 100%;
		margin: auto;
	}
	.news .img_news{
		width: 100%;
		height: auto;
		padding: 5px;
	}
	.news .img_news img{
		width: 100%;
	}
	.news .content_news{
		width: 100%;
		height: auto;
		padding: 5px;
	}
	.news .content_news .title_news{
		font-size: 11pt;
		color: black;
	}
	.news .content_news span{
		font-size: 7pt;
		color: gray;
	}

	/*config item*/
	.config_gr{
		width: 100%;
	}
	.config_gr .row{
		padding-left: 15px;
	}
	.config_gr .config{
		width: 30%;
		float: left;
		padding: 5px;
		padding-bottom: 35px;
	}

	.config_gr .config a{
		text-decoration: none;
	}
	.config_gr .config a img{
		height: 50px;
		width: 80px;
	}
	.config_gr .config span{
		padding-top: 5px;
		font-size: 9pt;
		font-weight: bold;
		color: #727272;
	}
	.config_gr p{
		font-size: 9pt;
	}


	/*footer top*/
	.footer_top{
		display: none;
	}
	.item_mobile_footer{
		padding: 10px;
		width: 100%;
		height: auto;		
	}
	.item_mobile_footer a{
		text-transform: uppercase;
		float: left;
		width: 20%;
		font-size: 6pt;
		text-decoration: none;
		color: #474747;
	}
	/*footer*/
	footer .container p{
		color: white;
		text-transform: uppercase;
		font-size: 7pt;
		padding: 5px;
	}
}
@media screen and (max-width: 480px){
	.menu.responsive {
		position: relative;
		height: auto;
	}
	.menu.responsive .navbar button i{
		position: absolute;
		right: 0;
		top: 0;
	}
	.menu.responsive .navbar .container ul .clearfix:before, .clearfix:after{
		content: "";
		display: table;
	}
	.menu.responsive .navbar .container ul .clearfix:after{
		clear: both;
	}
	.menu.responsive .navbar .container ul .clearfix{
		*zoom: 1;
	}
	.menu.responsive .navbar .container ul li{
		display: block;
        float: none;
        width: 100%;
	}

	.menu.responsive .navbar .container ul li a {
		float: none;
		width: 100%;
		display: block;
		text-align: left;
		font-size: 10pt;

	}
}
