body{
	font-family: 'ModernH-EcoLight';
}
.header-top{
	background-color: #ecf0f1;
}
.header-top .container{
	padding: 10px;	
}
.header-top .icons img{
	padding-left: 15px;
}
.header-top .icons .hot-line p{
	font-size: 15pt;
	font-weight: bold;
}
.menu{
	border-bottom: 1pt solid #d6dbdc;
	height: auto;
}
.menu ul{
	padding-left: 270px;
	list-style-type: none;
	padding-top: 20px;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	padding-left: 25px;
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	color: #666666;
}
/*slider*/
.slider{
	margin-top: 20px;
	margin-bottom: 20px;
}
.carousel-inner .item {
	height: 370px;
}
.carousel-inner .item img{
	max-width: 100%;
	height: auto;
	position: relative;
	top: 30%;
}
.slider .note-slider{
	text-align: left;
	height: auto;
}
.slider .img-slider img{
	max-width: 200%;
	max-height: 200%;
	padding-top: 100px;
}
.note-slider .btn-detail{
	background-color: blue;
	font-size: 14pt;
	text-align: center;
	cursor: pointer;
}
#mySlider a img{
	height: auto;
	position: absolute;
	top: 0
}